
<audio src="/musica/perseus.mp3" autoplay="autoplay" loop="loop"></audio>
<div class="text-center">
	<h1 class="display-4">Walter Aparicio</h1>
	<h2>I am a developer Technology programmer .NET y JavaScript.</h2>
	<img id="foto" src="~/img/Walter.jpg" alt="Walter Aparicio" />
</div>


<div class="row justify-content-center text-center bg-primary">
	<div class="col col-md-7 seccion-bienvenida">
		<h1>I welcome you to my portfolio</h1>
		<p>Here you can see everything you need to know about me<br />

			Select any button and it will take you to what you want to know about me
			
		</p>
	</div>
</div>
<br />
<div class="text-center">
	<a href="~/Home/Habilidades" id="boton1" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Skills and Hobbies</a>
	<a href="~/Home/MiCurriculum" id="boton2" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My Curriculum</a>
	<a href="~/Home/MisProyectos" id="boton3" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My projects</a>
	<a href="~/Home/Contactar" id="boton4" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact</a>
	<a href="~/Home/Experiencia" id="boton5" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Experience and Domain</a>
	<a href="~/Home/Estudios" id="boton6" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Studies and Certificates</a>
</div>