@{
    ViewData["Title"] = "Experience and Domain";
}
<h1>@ViewData["Title"]</h1>

<p>Here we can tell all my work experiences and also the programming language that I master</p>

<div class="contene">
 <div style="margin-top: 105px">
  <div class="row justify-content-md-center text-center">
   <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
    <i class="bi-hdd-fill"></i>
      <h3>Experience</h3>
      <p>All the companies to which I was able to get my experience</p>
	  <p class="text-primary cabecera">Experiencia:</p>
	 <ul>
	    <li>Indra</li>
	    <li>Laif informatica</li>
	    <li>Sigma</li>
	    <li>Burger Kink</li>
	    <li>Pollo gordo</li>
	    <li>Chikilin</li>
	    <li>Jet Peru</li>
	  </ul>
	</div>
	  <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
	   <i class="bi-code-slash"></i>
	    <h3>Programming language</h3>
	    <p>All the programming languages ​​and other things more than mastered</p>
	    <p class="text-primary cabecera">Domino</p>
	     <ul>
	      <li>PHP</li>
	      <li>Java</li>
	      <li>APS.NET</li>
	      <li>javascript</li>
	      <li>SQL</li>
	      <li>WEB API</li>
	      <li>C#</li>
	   </ul>
   </div>
  </div>
 </div>
</div>