@{
    ViewData["Title"] = "Skills and Hobbies";
}
<h1>@ViewData["Title"]</h1>

<p>Here we can tell all my skills and you can also know my hobbies</p>

<div class="contene">
 <div style="margin-top: 105px">
  <div class="row justify-content-md-center text-center">
   <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
    <i class="bi-hdd-fill"></i>
      <h3>Skills</h3>
      <p>All the skills I have developed and perfected through my experience</p>
	  <p class="text-primary cabecera">Skills:</p>
	 <ul>
	    <li>Teamwork</li>
	    <li>Autonomy</li>
	    <li>Adaptability</li>
	    <li>Easy to learn</li>
	    <li>Communicative</li>
	    <li>Initiative</li>
	    <li>Creativity</li>
	  </ul>
	</div>
	  <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
	   <i class="bi-code-slash"></i>
	    <h3>Hobby</h3>
	    <p>All the hobbies I do when I'm not busy</p>
	    <p class="text-primary cabecera"> Hobby:</p>
	     <ul>
	      <li>Play basketball</li>
	      <li>Play football</li>
	      <li>Console games</li>
	      <li>Swim in the beach</li>
	      <li>To play volleyball</li>
	      <li>Watch series</li>
	      <li>Watch movies</li>
	   </ul>
   </div>
  </div>
 </div>
</div>
<br />
<h1>CURRICULUM VITAE</h1>
 <p>Here you can see my curriculum vitae in case you want to see how I really am</p>
	 <div class="video">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/tKZG7eBoB9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
