@{
    ViewData["Title"] = "My Curriculum";
}
<h1>@ViewData["Title"]</h1>

<p>In this tab you can see how to download my Curriculum in case you are interested in me</p>

<a href="~/WalterAparicio_cv.pdf">See cv</a>

<a href="~/WalterAparicio_cv.pdf" download="WalterAparicio_cv.pdf">Download cv</a>


 