       <h1 id="titulo">ARKAWARE</h1>
       <p id="parrafo">The project tries to make an arcade machine shop where you can only play Arcade and vintage games. The project consisted of making a business plan to see if the store could be set up with its respective budgets and also to see how the network and everything necessary for the company to work would be set up.</p><br>
        <img id="img" src="~/img/Proyecto2.PNG">
