<h1 id="titulo">Minfo Network</h1>

<p id="parrafo">The company's project consisted of creating a fictitious Informatica company with its respective characteristics, which was everything necessary to set up a company as such. We set up the company with everything it needed both as an administrator and as a computer scientist. By that I mean that the company was set up in such a way that it had everything necessary to manage it.</p><br>

<img id="img" src="~/img/Proyecto1.PNG">